body {
  font-family: "Courier New", Courier, monospace;
  margin: 5;
}

.oswaldText {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
header {
  font-size: 2.5vh;
}
.typewriter {
  font-size: 3vw;
  font-size: 8vh;

  white-space: nowrap;
  overflow: hidden;

  animation: typing 4s steps(30, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  } /* Adjust based on length of your text */
}

.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
@media (max-width: 400px) {
  .typewriter {
    font-size: 5vw;
    font-size: 2.8vh;
  }
}
